# Global Owners
# * @UiPath/Apollo @UiPath/portal-members           # commented out until remaining owners are added. 

# Packages
packages/apollo-core @UiPath/Apollo
packages/apollo-react @UiPath/Apollo
packages/apollo-wind

# apps
apps/apollo-vertex
apps/react-playground @UiPath/Apollo
apps/storybook

# web-packages
web-packages/ap-chat