@keyframes collapsible-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes collapsible-up {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

@utility animate-collapsible-down {
  animation: collapsible-down 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@utility animate-collapsible-up {
  animation: collapsible-up 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
