@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.0.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+1100-110F;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.1.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+1110-111F;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.2.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+1120-112F;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.3.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+1130-113F;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.4.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+1140-114F;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.5.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+1150-115F;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.6.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+1160-116F;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.7.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+1170-117F;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.8.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+1180-118F;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.9.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+1190-119F;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.A.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+11A0-11AF;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.B.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+11B0-11BF;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.C.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+11C0-11CF;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.D.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+11D0-11DF;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.E.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+11E0-11EF;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.F.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+11F0-11FF;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.X-A.0.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+A960-A96F;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.X-A.1.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+A970-A97F;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.X-B.0.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+D7B0-D7BF;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.X-B.1.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+D7C0-D7CF;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.X-B.2.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+D7D0-D7DF;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.X-B.3.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+D7E0-D7EF;
    font-weight: 400;
}

@font-face {
    font-family: "noto-sans-cjk-kr";
    src: local('Noto Sans Korean Regular'), local('NotoSansKorean-Regular'), url("./NotoSansKR-Regular.X-B.4.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    unicode-range: U+D7F0-D7FF;
    font-weight: 400;
}