:host {
    // For custom web component tags the default CSS value for the display property
    // is 'inline' which uses the text/line height instead of the actual contents.
    //
    // We're setting the display to 'inline-grid' to make the host web component tag
    // use the correct measured width and height of its shadowDOM contents.
    display: inline-grid;

    // TODO: remove
    width: 440px;
}
